header {
    background-color: rgba(34, 34, 34, 0);
    width: 100%;
    color: #fcfcfc;
    top: 0;
    position:fixed;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Lexend Mega', sans-serif;
    transition: all ease-in-out 0.5s;
}
  
.fixed{
    background-color: rgba(34, 34, 34, 0.7);
}
  
li{
    padding-left: 40px;
    margin-left: 15px;
    display: inline-block;
    margin-right: 1em;
} 

a{
    text-decoration: none;
    color: white;
} 

header div{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em 0 1em;
}

.nav_right{
    float: right;
    padding-top: 25px;
}
  
  
header ul, footer ul {
    float: right;
    list-style-type: none;
    padding-top: 1em;
    padding-right: 7em;
}
  
header li a:hover {
    color: rgba(209, 6, 165, 0.781);
}



.raccourci{
    width: 40px;
    height: 70px;
    float: right;
    margin: 40px;
    margin-right: 63px;
    display: none;
    align-items: center;
    cursor: pointer;
}

span.raccourci_span, span.raccourci_span:before, span.raccourci_span:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    position: relative;
} 

.raccourci_span:before{top: 12px;}
.raccourci_span:after{top: -15px;}
  
@media only screen and (max-width: 1138px) {
    /* .header { text-align: center; position: relative; }
    .header .container .logo h1 { float: none; margin: 0; }
    .header .nav ul { float: none; margin: auto;} */

    .raccourci{display: flex;}

    .nav_right{
        position: absolute;
        top: 150px;
        right: 0;
        width: 200px;
        height: 100%;
        padding: 0;
        margin: 0;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    }

    header ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    header li{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header li a{
        display: block;
        text-align: center;
        height: 30px;        
    }

    .is_open{
        transform: translateX(0);
    }
    
}