/* Page les planetes : articles*/
.info_l{
  margin: 0 0 0 40px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  font-size: 25px;
  text-decoration: underline;
  border: none;
  text-align: right;
}
.info_r{
  margin: 0 0 0 40px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  font-size: 25px;
  text-decoration: underline;
  border: none;
  text-align: left;
}

.div_bouton_l{
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin: 20px 0 15px 0;
}
.div_bouton_r{
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 20px 0 15px 0;
  flex-direction: row-reverse;
}

.image_p{
  justify-self: flex-start;
  align-self: center;
  margin: 20px;
}
.texte{
  font-family: 'Lexend Mega', sans-serif;
  font-size: 25px;
  max-width: 350px;
  max-height: 350px;
  align-self: center;
  margin: 0 40px 0 50px;
}
/* MERCURE*/
.mercure{
  background: linear-gradient(65deg, rgb(34, 34, 34) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  margin: 0;
  overflow: auto;
}
.mercure .article{
  display: flex;
  justify-content: flex-start;
}
.mercure h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 20px 40px;
  margin-bottom: 20px;
  max-height: 40px;
  justify-self: center;
}
.mercure .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.container{
  display: flex;
  justify-content: center;
}
.info_mercure{
  background-color:rgb(34, 34, 34);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}

.tab{
  padding-bottom: 3px;
}

/* VENUS */
.venus{
  background: linear-gradient(-65deg, rgb(202, 64, 0) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.venus .article{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}
.venus h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 20px 0;
  max-height: 40px;
  text-align: right;
}
.venus .texte{
  order: -1;
}
.venus .table{
  order: -2;
}
.venus .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_venus{
  background-color:rgb(202, 64, 0);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}
/*TERRE*/
.terre{
  background-color: rgb(14, 13, 13);
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.terre h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 0 10px 0 0;
  max-height: 40px;
  align-self: center;
}

/* LUNE */
.lune{
  background: linear-gradient(65deg, rgb(165, 165, 165) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  margin: 0;
  overflow: auto;
}
.lune .article{
  display: flex;
  justify-content: flex-start;
}
.lune h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 20px 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.lune .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_lune{
  background-color:rgb(165, 165, 165);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}
/*MARS*/
.mars{
  background: linear-gradient(-65deg, rgb(167, 0, 0) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.mars .article{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}
.mars h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 20px 0;
  max-height: 40px;
  text-align: right;
}
.mars .texte{
  order: -1;
}
.mars .table{
  order: -2;
}
.mars .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_mars{
  background-color:rgb(167, 0, 0);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}
/* JUPITER */
.jupiter{
  background: linear-gradient(65deg, rgb(167, 152, 104) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.jupiter .article{
  display: flex;
  justify-content: flex-start;
}
.jupiter h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 20px 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.jupiter .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_jupiter{
  background-color:rgb(167, 152, 104);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}
/* SATURNE */
.saturne{
  background: linear-gradient(-65deg, rgb(141, 120, 51) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.saturne .article{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}
.saturne h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 20px 0;
  max-height: 40px;
  text-align: right;
}
.saturne .texte{
  order: -1;
}
.saturne .table{
  order: -2;
}
.saturne .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_saturne{
  background-color:rgb(141, 120, 51);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}
/* URANUS */
.uranus{
  background: linear-gradient(65deg, rgb(0, 143, 187) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.uranus .article{
  display: flex;
  justify-content: flex-start;
}
.uranus h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 20px 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.uranus .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_uranus{
  background-color:rgb(0, 143, 187);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}

/* NEPTUNE */
.neptune{
  background: linear-gradient(-65deg, rgb(0, 51, 192) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.neptune .article{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}
.neptune h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 20px 0;
  max-height: 40px;
  text-align: right;
}
.neptune .texte{
  order: -1;
}
.neptune .table{
  order: -2;
}
.neptune .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_neptune{
  background-color:rgb(0, 51, 192);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}
/* PLUTON */
.pluton{
  background-color: rgb(14, 13, 13);
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0 0 0 0;
  overflow: auto;
  display: flex;
  justify-content: center;
}
.pluton h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 0 10px 0 0;
  max-height: 40px;
  align-self: center;
}
@media only screen and (max-width: 1460px) {
  .mercure{background-color: rgb(34, 34, 34);}
  .venus{background-color: rgb(202, 64, 0);}
  .lune{background-color: rgb(165, 165, 165);}
  .mars{background-color: rgb(167, 0, 0);}
  .jupiter{background-color: rgb(167, 152, 104);}
  .saturne{background-color: rgb(141, 120, 51);}
  .uranus{background-color: rgb(0, 143, 187);}
  .neptune{background-color: rgb(0, 51, 192);}
  .pluton{background-color: rgb(14, 13, 13);}
}