@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
/* *{
  margin: 0;
  padding: 0;
} */
html {
	margin: 0;
  padding: 0;
  height: 100%;
}

  
.logo{
  float: left;
}

header img{
  padding: 10px;
}

.accueil_bg{
  background-image: url("photo/galaxy_acceuil.jpg");
}
.planetes_bg{
  background-image: url("photo/planetes2.jpeg");
  background-size: cover;
}
.reserver_bg{
  background-image: url("photo/galaxy_acceuil.jpg");
}
.transport_bg{
  background-image: url("photo/vaisseau.jpg");
  background-size: cover;
}
.avis_bg{
  background-image: url("photo/avis.jpeg");
}
body{
  background-attachment: fixed;
  padding: 0;
  margin: 0; 
  background-repeat: no-repeat; /* à enlever pour que le footer ait la meme image qu'en haut*/
  background-color: linear-gradient(#000000 0%, #010105c0 35%, #00000059 100%);
  height: 100%;
} 

a{
  text-decoration: none;
  color: white;
} 

main {
  margin-top: 100px;
  /* padding: 5em 1em 1em 1em; */
  color: rgb(255, 255, 255);
  /*  */
  min-height: 100%;
 }
 
.titre{
  /* font-family: 'Lexend Mega', sans-serif; */
  font-family: 'Turret Road', cursive;
  color: rgb(216, 216, 216);
  margin-top: 200px;
  margin-bottom: 243px;
  text-align: center;
  font-size: 55px;
}

.content{
  width: 50%;
  margin: 0 auto;
  padding: 2.5em 1em 1em 1em;
  /*  */
  padding-bottom: 100px;
  overflow: auto;
}

/* Page Accueil : articles*/
.planetes{
  background-color: rgb(0, 0, 0);
  height: 420px;
  width: 100%;
  padding: 0;
}
.reserver{
  background-color: rgb(22, 22, 22);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
/* Page les planetes : articles*/
.mercure{
  background: linear-gradient(115deg, rgb(34, 34, 34) 75%, rgba(255, 255, 255, 0) 25%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.venus{
  background: linear-gradient(-65deg, rgb(202, 64, 0) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.terre{
  background-color: rgb(14, 13, 13);
  height: 55px;
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 2.5em 1em 1em 1em;
}
.mars{
  background: linear-gradient(90deg, rgb(167, 0, 0) 80%, rgba(255, 255, 255, 0) 5%, rgb(167, 0, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.jupiter{
  background: linear-gradient(-70deg, rgb(167, 152, 104) 80%, rgba(255, 255, 255, 0) 20%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.saturne{
  background: linear-gradient(55deg, rgb(141, 120, 51) 80%, rgba(255, 255, 255, 0) 20%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.uranus{
  background: linear-gradient(-65deg, rgb(0, 143, 187) 90%, rgba(255, 255, 255, 0) 10%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.neptune{
  background: linear-gradient(65deg, rgb(0, 51, 192) 90%, rgba(255, 255, 255, 0) 10%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.pluton{
  background-color: rgb(14, 13, 13);
  height: 55px;
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 2.5em 1em 1em 1em;
}




@media only screen and (max-width: 1138px) {
  .content { padding: 1em; }
}