@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

html {
	margin: 0;
  padding: 0;
  height: 100%;
}

.logo{
  justify-content: flex-start;
}

.accueil_bg{
  background-image: url("photo/galaxy_acceuil.jpg");
}
.planetes_bg{
  background-image: url("photo/planetes2.jpeg");
  background-size: cover;
}
.reserver_bg{
  background-image: url("photo/reserver.jpeg");
  background-size: cover;
}
.transport_bg{
  background-image: url("photo/vaisseau.jpg");
  background-size: cover;
}
.avis_bg{
  background-image: url("photo/avis.jpeg");
}
.us_bg{
  background-image: url("photo/us2.jpg");
  background-size: cover;
}
.contact_bg{
  background-image: url("photo/contact.jpg");
}
body{
  background-attachment: fixed;
  padding: 0;
  margin: 0; 
  background-repeat: no-repeat; /* à enlever pour que le footer ait la meme image qu'en haut*/
  background-color: linear-gradient(#000000 0%, #010105c0 35%, #00000059 100%);
  height: 100%;
} 

a{
  text-decoration: none;
  color: white;
} 

main {
  margin-top: 100px;
  color: rgb(255, 255, 255);
  /* min-height: 100%; */
 }
 
.titre{
  font-family: 'Lexend Mega', sans-serif;
  color: rgb(216, 216, 216);
  height: 420px;
  width: 100%;
  margin: 0;
  /* text-align: center; */
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.titre .titre_boite h1{
  margin: 120px 0 0 0;
}
.content{
  width: 50%;
  margin: 0 auto;
  padding: 2.5em 1em 1em 1em;
  padding-bottom: 100px;
  overflow: auto;
}


/* css contact */
.content, .contact{
  background-color: rgba(34, 34, 34, 0.7);
  padding-top: 1em;
  padding-bottom: 16px;
  text-align: center;
  margin-bottom: 200px;
}

.content, .contact form .msg, .contact form .email, .contact form .prenom{
  margin-top: 10px;
}

.contact form input, .contact form textarea{
  width: 50%;
  text-align: center;
  border: 2px solid #151515;
  background-color: rgba(34, 34, 34);
  color: white;
}

.btn{
  padding-top: 30px;
}

.btn button {
  /* background-color: rgba(32, 32, 32, 0.493); */
  display: inline;
  border: none;
  border-radius: 10rem;
  font-family: 'Lexend Mega', sans-serif;
  color: rgb(216, 216, 216);
  box-shadow: 2px 2px rgb(56, 63, 71);
  font-size: 25px;
  padding: 20px;
  background: linear-gradient(#e66465, #9198e5);
  background-size: 200%;
  border-radius: 10rem;
  transition: all .5s ease-in-out;
}

.btn button:hover{
  cursor: pointer;
  color: black;
  background: linear-gradient(#199b9a  , #ccc788);
}

/* Page Accueil : articles*/

.planetes{
  background-image: url("photo/accueil1_rs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content:center;
  align-content: center;
  height: 500px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.reserver{
  display: flex;
  background-image: url("photo/accueil2_rs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content:center;
  align-content: center;
  height: 650px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.transport{
  display: flex;
  background-image: url("photo/accueil3_rs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content:center;
  align-content: center;
  height: 730px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.titre_boite{
  background-color: #c9151580;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.but{
  height: 80px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.bout_accueil{
  background-color: rgba(32, 32, 32, 0.493);
  display: inline;
  border: none;
  border-radius: 10rem;
  font-family: 'Lexend Mega', sans-serif;
  color: rgb(216, 216, 216);
  font-size: 25px;
  padding: 20px;
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba(25, 114, 230, 0.8) 50%);
  background-size: 200%;
  border-radius: 10rem;
  transition: background-position 1s ease-in-out;
}
.bout_accueil:hover{
  cursor: pointer;
}
.titre h1{
  height: 200px;
  text-align: center;
}
/* Reserver */
.content_form{
  width: 100%;
  display: flex;
  justify-content: center;
}

.formu{
  width: 100%;
  display: flex;
  justify-self: center;
  margin: 0 0 50px 0;
  padding: 30px;
  box-sizing: border-box;
  max-width: 1000px;
  background-color: rgba(25, 114, 230, 0.8);
  font-family:'Lexend Mega', sans-serif;
  border-radius: 12%;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
.flex-container .ligne1, .flex-container .ligne2{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.duo{
  display: flex;
  font-size: 12px;
  flex-direction: column;
  justify-content: center;
}
.duo h3{
  text-align: center;
}
.form_button {
  background-color: rgba(32, 32, 32, 0.493);
  display: inline;
  border: none;
  border-radius: 10rem;
  font-family: 'Lexend Mega', sans-serif;
  color: rgb(216, 216, 216);
  box-shadow: 2px 2px rgb(56, 63, 71);
  font-size: 25px;
  padding: 20px;
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba(119, 0, 255, 0.8) 50%);
  background-size: 200%;
  border-radius: 10rem;
  transition: background-position 1s ease-in-out;
}
.form_button:hover{
  background-position: -100%;
  cursor: pointer;
}
.formu input, select{
  border: 2px black solid;
  border-radius: 7px;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.719);
  color: #fff;
}
.valider{
  justify-self: flex-start;
  align-self: flex-end;
}
/* Qui sommes nous */
.us_content{
  background-color: rgba(34, 34, 34, 0.726);
}
.nous{
  background-color: #fff;
}
.nous_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* transport */

.content_transpo{
  width: 65%;
  margin: 0 auto;
  padding: 2.5em 1em 1em 1em;
  overflow: auto;
  /* background-color: rgba(34, 34, 34, 0.7); */
  padding-top: 1em;
  padding-bottom: 16px;
  text-align: center;
  font-family: 'Lexend Mega', sans-serif;
  font-size: 1.7vw;
}

.content.margin_around{
  margin: 15px 50px ;
  font-size: 1.2vw;
  align-items: center;
  border-radius: 15%;
}

.transpo{
  display: flex;
  flex-direction: column;
}

.titre1{
  padding-bottom: 15px;
}

.transpo1{
  display: flex;
}

.transpo1 .content{
  background-color: rgba(34, 34, 34, 0.95);
  width: 100%;
  align-self: center;
}

@media only screen and (max-width: 1138px) {
  .content { padding: 1em; }

  .titre{font-size: 35px;} 

  .transpo1{
    flex-direction: column;
    margin: 15px 0;
    padding: 10px;
  }

  .margin_around p{
    font-size: 1.8vw;
  }

  #tp2{
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 800px) {
  .bout_accueil{font-size: 2.5vw;}
  .titre{font-size: 3vw;}
  .ligne1, .ligne2{flex-wrap: wrap;}
}
