@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
/* *{
  margin: 0;
  padding: 0;
} */
html {
	margin: 0;
  padding: 0;
  height: 100%;
}

.logo{
  justify-content: flex-start;
}

header img{
  padding: 10px;
}

.accueil_bg{
  background-image: url("photo/galaxy_acceuil.jpg");
}
.planetes_bg{
  background-image: url("photo/planetes2.jpeg");
  background-size: cover;
}
.reserver_bg{
  background-image: url("photo/galaxy_acceuil.jpg");
}
.transport_bg{
  background-image: url("photo/vaisseau.jpg");
  background-size: cover;
}
.avis_bg{
  background-image: url("photo/avis.jpeg");
}
.us_bg{
  background-image: url("photo/us2.jpg");
  background-size: cover;
}
.contact_bg{
  background-image: url("photo/contact.jpg");
}
body{
  background-attachment: fixed;
  padding: 0;
  margin: 0; 
  background-repeat: no-repeat; /* à enlever pour que le footer ait la meme image qu'en haut*/
  background-color: linear-gradient(#000000 0%, #010105c0 35%, #00000059 100%);
  height: 100%;
} 

a{
  text-decoration: none;
  color: white;
} 

main {
  margin-top: 100px;
  /* padding: 5em 1em 1em 1em; */
  color: rgb(255, 255, 255);
  /*  */
  min-height: 100%;
 }
 
.titre{
  font-family: 'Lexend Mega', sans-serif;
  color: rgb(216, 216, 216);
  margin-top: 200px;
  margin-bottom: 243px;
  text-align: center;
  font-size: 55px;
}

.content{
  width: 50%;
  margin: 0 auto;
  padding: 2.5em 1em 1em 1em;
  /*  */
  padding-bottom: 100px;
  overflow: auto;
}

/* Page Accueil : articles*/
.planetes{
  background-color: rgb(0, 0, 0);
  height: 420px;
  width: 100%;
  padding: 0;
}
.reserver{
  background-color: rgb(22, 22, 22);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.calendrier{
  background-color: rgba(0, 0, 0, 0.404);
  height: 1000px;
}
/* Page les planetes : articles*/
.info_l{
  margin: 0 0 0 40px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  font-size: 25px;
  text-decoration: underline;
  border: none;
  text-align: right;
}
.info_r{
  margin: 0 0 0 40px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  font-size: 25px;
  text-decoration: underline;
  border: none;
  text-align: left;
}

.div_bouton_l{
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin: 20px 0 15px 0;
}
.div_bouton_r{
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin: 20px 0 15px 0;
  flex-direction: row-reverse;
}
.image_p{
  justify-self: flex-start;
  align-self: center;
  margin: 20px;
}
.texte{
  font-family: 'Lexend Mega', sans-serif;
  font-size: 25px;
  max-width: 350px;
  max-height: 350px;
  align-self: center;
  margin-left: 50px;
}
/* MERCURE*/
.mercure{
  background: linear-gradient(115deg, rgb(34, 34, 34) 80%, rgba(255, 255, 255, 0) 20%);
  /* height: 420px; */
  width: 100%;
  margin: 0;
  overflow: auto;
}
.mercure .article{
  display: flex;
  justify-content: flex-start;
}
.mercure h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 0 40px;
  margin-bottom: 20px;
  max-height: 40px;
  justify-self: center;
}
.mercure .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.container{
  display: flex;
  justify-content: center;
}
.info_mercure{
  background-color:rgb(34, 34, 34);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}

.tab{
  padding-bottom: 3px;
}

/* VENUS */
.venus{
  background: linear-gradient(-65deg, rgb(202, 64, 0) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.venus .article{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  height: 320px;
}
.venus h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 0 0;
  max-height: 40px;
  text-align: right;
}
.venus .texte{
  order: -1;
}
.venus .table{
  order: -2;
}
.venus .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_venus{
  background-color:rgb(202, 64, 0);
  width: 50%;
  margin: 0;
  overflow: auto;
  text-align: center;
  display: none;
}
/*TERRE*/
.terre{
  background-color: rgb(14, 13, 13);
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.terre h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 0 10px 0 0;
  max-height: 40px;
  align-self: center;
}

/* LUNE */
.lune{
  background: linear-gradient(115deg, rgb(165, 165, 165) 80%, rgba(255, 255, 255, 0) 20%);
  height: 350px;
  width: 100%;
  margin: 0;
  overflow: auto;
}
.lune .article{
  display: flex;
  justify-content: flex-start;
}
.lune h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 0 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.lune .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
/*MARS*/
.mars{
  background: linear-gradient(90deg, rgb(167, 0, 0) 80%, rgba(255, 255, 255, 0) 5%, rgb(167, 0, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.mars .article{
  display: flex;
  justify-content: flex-start;
}
.mars h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 0 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.mars .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
/* JUPITER */
.jupiter{
  background: linear-gradient(-70deg, rgb(167, 152, 104) 85%, rgba(255, 255, 255, 0) 15%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.jupiter .article{
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: flex-end;
  height: 320px;
}
.jupiter h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 0 0;
  max-height: 40px;
  text-align: right;
}
.jupiter .texte{
  order: -1;
}
.jupiter .table{
  order: -2;
}
.jupiter .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
/* SATURNE */
.saturne{
  background: linear-gradient(55deg, rgb(141, 120, 51) 80%, rgba(255, 255, 255, 0) 20%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.saturne .article{
  display: flex;
  justify-content: flex-start;
}
.saturne h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 0 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.saturne .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
/* URANUS */
.uranus{
  background: linear-gradient(-65deg, rgb(0, 143, 187) 90%, rgba(255, 255, 255, 0) 10%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.uranus .article{
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: flex-end;
  height: 320px;
}
.uranus h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 0 0;
  max-height: 40px;
  text-align: right;
}
.uranus .texte{
  order: -1;
}
.uranus .table{
  order: -2;
}
.uranus .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}

/* NEPTUNE */
.neptune{
  background: linear-gradient(65deg, rgb(0, 51, 192) 90%, rgba(255, 255, 255, 0) 10%);
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.neptune .article{
  display: flex;
  justify-content: flex-start;
}
.neptune h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 0 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.neptune .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
/* PLUTON */
.pluton{
  background-color: rgb(14, 13, 13);
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0 0 0 0;
  overflow: auto;
  display: flex;
  justify-content: center;
}
.pluton h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 0 10px 0 0;
  max-height: 40px;
  align-self: center;
}

@media only screen and (max-width: 1138px) {
  .content { padding: 1em; }
  
}
@media only screen and (max-width: 1460px) {
  .mercure{background-color: rgb(34, 34, 34);}
  .venus{background-color: rgb(202, 64, 0);}
  .lune{background-color: rgb(165, 165, 165);}
  .mars{background-color: rgb(167, 0, 0);}
  .jupiter{background-color: rgb(167, 152, 104);}
  .saturne{background-color: rgb(141, 120, 51);}
  .uranus{background-color: rgb(0, 143, 187);}
  .neptune{background-color: rgb(0, 51, 192);}
  .pluton{background-color: rgb(14, 13, 13);}
}