/* Page les planetes : articles*/
.info_l{
  margin: 0 0 0 40px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  font-size: 25px;
  text-decoration: underline;
  border: none;
  text-align: right;
}
.info_r{
  margin: 0 0 0 40px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  font-size: 25px;
  text-decoration: underline;
  border: none;
  text-align: left;
}

.table{
  margin-top: 15px;
}
.div_bouton_l{
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin: 20px 0 15px 0;
}
.div_bouton_r{
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 20px 0 15px 0;
  flex-direction: row-reverse;
}
iframe{
  margin: 0 0 0 45px;
}
.image_p{
  justify-self: flex-start;
  align-self: center;
  margin: 20px;
}
.texte{
  font-family: 'Lexend Mega', sans-serif;
  font-size: 25px;
  max-width: 350px;
  max-height: 350px;
  align-self: center;
  margin: 0 40px 0 50px;
}
.texte_info{
  font-family: 'Lexend Mega', sans-serif;
  font-size: 16px;
  max-width: 350px;
  max-height: 350px;
  align-self: center;
  margin: 0 40px 0 50px;
}
.son_haut{
  font-family: 'Lexend Mega', sans-serif;
  font-size: 9px;
  align-self: flex-start;
  margin: 5px;
}
.son_bas{
  font-family: 'Lexend Mega', sans-serif;
  font-size: 9px;
  align-self: flex-end;
  margin: 5px;
}
/* MERCURE*/
.mercure{
  background: linear-gradient(65deg, rgb(34, 34, 34) 85%, rgba(255, 255, 255, 0) 15%);
  width: 100%;
  margin: 0;
  overflow: auto;
}
.mercure .article{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.mercure h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 20px 40px;
  margin-bottom: 20px;
  max-height: 40px;
  justify-self: center;
}
.mercure .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.container{
  display: flex;
  justify-content: center;
}
.info_mercure{
  background-color:rgba(34, 34, 34, 0.6);
  width: 70%;
  margin: 10px 0 40px 0;
  overflow: auto;
  text-align: center;
  display: none;
  flex-wrap: wrap;
}

.tab{
  padding-bottom: 3px;
}

/* VENUS */
.venus{
  background: linear-gradient(-65deg, rgb(202, 64, 0) 85%, rgba(255, 255, 255, 0) 15%);
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.venus .article{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
.venus h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 20px 0;
  max-height: 40px;
  text-align: right;
}
.venus .texte{
  order: -1;
}
.venus .table{
  order: -2;
}
.venus .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_venus{
  background-color:rgba(202, 64, 0, 0.6);
  width: 70%;
  margin: 10px 0 40px 0;
  overflow: auto;
  text-align: center;
  display: none;
  flex-wrap: wrap-reverse;
}
/*TERRE*/
.terre{
  background-color: rgb(14, 13, 13);
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.terre h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 0 10px 0 0;
  max-height: 40px;
  align-self: center;
}

/* LUNE */
.lune{
  background: linear-gradient(65deg, rgb(165, 165, 165) 85%, rgba(255, 255, 255, 0) 15%);
  width: 100%;
  margin: 0;
  overflow: auto;
}
.lune .article{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.lune h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 20px 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.lune .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_lune{
  background-color:rgba(165, 165, 165, 0.7);
  width: 70%;
  margin: 10px 0 40px 0;
  overflow: auto;
  text-align: center;
  display: none;
  flex-wrap: wrap;
}
/*MARS*/
.mars{
  background: linear-gradient(-65deg, rgb(167, 0, 0) 85%, rgba(255, 255, 255, 0) 15%);
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.mars .article{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
.mars h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 20px 0;
  max-height: 40px;
  text-align: right;
}
.mars .texte{
  order: -1;
}
.mars .table{
  order: -2;
}
.mars .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_mars{
  background-color:rgba(167, 0, 0, 0.6);
  width: 70%;
  margin: 10px 0 40px 0;
  overflow: auto;
  text-align: center;
  display: none;
  flex-wrap: wrap-reverse;
}
/* JUPITER */
.jupiter{
  background: linear-gradient(65deg, rgb(241, 202, 133) 85%, rgba(255, 255, 255, 0) 15%);
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.jupiter .article{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.jupiter h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 20px 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.jupiter .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_jupiter{
  background-color:rgba(241, 202, 133, 0.6);
  width: 70%;
  margin: 10px 0 40px 0;
  overflow: auto;
  text-align: center;
  display: none;
  flex-wrap: wrap;
}
/* SATURNE */
.saturne{
  background: linear-gradient(-65deg, rgb(141, 120, 51) 85%, rgba(255, 255, 255, 0) 15%);
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.saturne .article{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
.saturne h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 20px 0;
  max-height: 40px;
  text-align: right;
}
.saturne .texte{
  order: -1;
}
.saturne .table{
  order: -2;
}
.saturne .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_saturne{
  background-color:rgba(141, 120, 51, 0.6);
  width: 70%;
  margin: 10px 0 40px 0;
  overflow: auto;
  text-align: center;
  display: none;
  flex-wrap: wrap-reverse;
}
/* URANUS */
.uranus{
  background: linear-gradient(65deg, rgb(0, 143, 187) 85%, rgba(255, 255, 255, 0) 15%);
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.uranus .article{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.uranus h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 0 20px 40px;
  margin-bottom: 20px;
  max-height: 40px;
}
.uranus .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_uranus{
  background-color:rgba(0, 143, 187, 0.6);
  width: 70%;
  margin: 10px 0 40px 0;
  overflow: auto;
  text-align: center;
  display: none;
  flex-wrap: wrap;
}

/* NEPTUNE */
.neptune{
  background: linear-gradient(-65deg, rgb(0, 51, 192) 85%, rgba(255, 255, 255, 0) 15%);
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.neptune .article{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
.neptune h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 25px 40px 20px 0;
  max-height: 40px;
  text-align: right;
}
.neptune .texte{
  order: -1;
}
.neptune .table{
  order: -2;
}
.neptune .table{
  align-self: center;
  font-family: 'Lexend Mega', sans-serif;
  margin-left: 50px;
  max-width: 500px;
}
.info_neptune{
  background-color:rgba(0, 51, 192, 0.6);
  width: 70%;
  margin: 10px 0 40px 0;
  overflow: auto;
  text-align: center;
  display: none;
  flex-wrap: wrap-reverse;
}
/* PLUTON */
.pluton{
  background-color: rgb(14, 13, 13);
  width: 100%;
  padding: 0;
  margin: 0 0 0 0;
  overflow: auto;
  display: flex;
  justify-content: center;
}
.pluton h1{
  font-family: 'Lexend Mega', sans-serif;
  margin: 0 10px 0 0;
  max-height: 40px;
  align-self: center;
}
@media only screen and (max-width: 1460px) {
  .mercure{background-color: rgb(34, 34, 34);}
  .venus{background-color: rgb(202, 64, 0);}
  .lune{background-color: rgb(165, 165, 165);}
  .mars{background-color: rgb(167, 0, 0);}
  .jupiter{background-color: rgb(241, 202, 133);}
  .saturne{background-color: rgb(141, 120, 51);}
  .uranus{background-color: rgb(0, 143, 187);}
  .neptune{background-color: rgb(0, 51, 192);}
  .pluton{background-color: rgb(14, 13, 13);}
}
@media only screen and (max-width: 1300px) {
  .mercure, .venus, .lune, .mars, .jupiter, .saturne, .uranus, .neptune, .texte{font-size: 1.3vw;}
  .info_mercure, .info_venus, .info_terre, .info_lune, .info_mars, .info_jupiter, .info_saturne, .info_uranus, .info_neptune, .texte{font-size: 2vw; width: 100%;}
  .terre, .pluton{font-size: 0.7vw;}
  .image img{height: 20px; width: 20px;}
}
@media only screen and (max-width: 700px) {
  .mercure, .venus, .lune, .mars, .jupiter, .saturne, .uranus, .neptune, .texte{font-size: 2.5vw;}
  .terre, .pluton{font-size: 2vw;}
}