@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

html {
	margin: 0;
  padding: 0;
  height: 100%;
}

.logo{
  justify-content: flex-start;
}

.accueil_bg{
  background-image: url("photo/accueil01_rs.jpg");
  background-position: center 0px;
}
.planetes_bg{
  background-image: url("photo/planetes2.jpeg");
  background-size: cover;
  background-position: center 0px;
}
.reserver_bg{
  background-image: url("photo/reserver.jpeg");
  background-size: cover;
  background-position: center 0px;
}
.transport_bg{
  background-image: url("photo/vaisseau.jpg");
  background-size: cover;
  background-position: center 0px;
}
.avis_bg{
  background-image: url("photo/avis.jpeg");
  background-size: cover;
  background-position: center 0px;
}
.us_bg{
  background-image: url("photo/us2.jpg");
  background-size: cover;
  background-position: center 0px;
}
.contact_bg{
  background-image: url("photo/contact.jpg");
  background-position: center 0px;
}
body{
  background-attachment: fixed;
  padding: 0;
  margin: 0; 
  background-repeat: no-repeat; /* à enlever pour que le footer ait la meme image qu'en haut*/
  background-color: linear-gradient(#000000 0%, #010105c0 35%, #00000059 100%);
  height: 100%;
} 

a{
  text-decoration: none;
  color: white;
} 

main {
  margin-top: 100px;
  color: rgb(255, 255, 255);
  /* min-height: 100%; */
 }
 
.titre{
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  height: 420px;
  width: 100%;
  margin: 0;
  /* text-align: center; */
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.titre .titre_boite h1{
  margin: 120px 0 0 0;
}
.content{
  width: 50%;
  margin: 0 auto;
  padding: 2.5em 1em 1em 1em;
  padding-bottom: 100px;
  overflow: auto;
}


/* Page Contact */

.content, .contact{
  background-color: rgba(34, 34, 34, 0.7);
  padding-top: 1em;
  padding-bottom: 16px;
  text-align: center;
  margin-bottom: 200px;
}

.content, .contact form .msg, .contact form .email, .contact form .prenom{
  margin-top: 10px;
}

.contact form input, .contact form textarea{
  width: 50%;
  text-align: center;
  border: 2px solid #151515;
  background-color: rgba(34, 34, 34);
  color: white;
}

.btn{
  padding-top: 30px;
}

.btn button {
  /* background-color: rgba(32, 32, 32, 0.493); */
  display: inline;
  border: none;
  border-radius: 10rem;
  font-family: 'Lexend Mega', sans-serif;
  color: rgb(216, 216, 216);
  box-shadow: 2px 2px rgb(56, 63, 71);
  font-size: 25px;
  padding: 20px;
  background: linear-gradient(#e66465, #9198e5);
  background-size: 200%;
  border-radius: 10rem;
  transition: all .5s ease-in-out;
}

.btn button:hover{
  cursor: pointer;
  color: black;
  background: linear-gradient(#199b9a  , #ccc788);
}

/* Page Accueil : articles*/

.planetes{
  background-image: url("photo/accueil1_rs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;
  justify-content:center;
  align-content: center;
  height: 500px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.reserver{
  display: flex;
  background-image: url("photo/accueil2_rs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;
  justify-content:center;
  align-content: center;
  height: 650px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.transport{
  display: flex;
  background-image: url("photo/accueil3_rs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;
  justify-content:center;
  align-content: center;
  height: 730px;
  width: 100%;
  padding: 0;
  margin: 0; 
}
.titre_boite{
  background-color: #c9151580;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.but{
  height: 80px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.bout_accueil{
  background-color: rgba(32, 32, 32, 0.493);
  display: inline;
  border: none;
  border-radius: 10rem;
  font-family: 'Lexend Mega', sans-serif;
  color: rgb(216, 216, 216);
  font-size: 25px;
  padding: 20px;
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba(25, 114, 230, 0.8) 50%);
  background-size: 200%;
  border-radius: 10rem;
  transition: background-position 1s ease-in-out;
}
.bout_accueil:hover{
  cursor: pointer;
}
.titre h1{
  height: 200px;
  text-align: center;
}
/* Reserver */
.content_form{
  width: 100%;
  display: flex;
  justify-content: center;
}

.formu{
  width: 100%;
  display: flex;
  justify-self: center;
  margin: 0 0 50px 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgba(25, 114, 230, 0.445);
  font-family:'Lexend Mega', sans-serif;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
.flex-container .ligne1, .flex-container .ligne2{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.duo{
  display: flex;
  font-size: 12px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.duo h3{
  text-align: center;
}
.form_button {
  background-color: rgba(32, 32, 32, 0.493);
  display: inline;
  border: none;
  border-radius: 10rem;
  font-family: 'Lexend Mega', sans-serif;
  color: rgb(216, 216, 216);
  box-shadow: 2px 2px rgb(56, 63, 71);
  font-size: 25px;
  padding: 20px;
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba( 255, 64, 69, 0.8) 50%);
  background-size: 200%;
  border-radius: 10rem;
  transition: background-position 1s ease-in-out;
}
.form_button:hover{
  background-position: -100%;
  cursor: pointer;
}
.form_button:active{
  background-color: #000000;
  box-shadow: none;
  cursor: pointer;
}
.formu input, select{
  border: 2px black solid;
  border-radius: 7px;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.719);
  color: #fff;
}
input:invalid, select:invalid {
  border: 2px solid red;
  caret-color: red;
}
.valider{
  justify-self: flex-start;
  align-self: flex-end;
}
.content_resultat{
  font-family: 'Lexend Mega', sans serif;
  width: 100%;
  margin: 0 0 50px 0;
  display: flex;
}
.resultat{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.r_form_button {
  background-color: rgba(32, 32, 32, 0.493);
  display: inline;
  border: none;
  border-radius: 10rem;
  font-family: 'Lexend Mega', sans-serif;
  box-shadow: 2px 2px rgb(56, 63, 71);
  font-size: 25px;
  padding: 20px;
  background-size: 200%;
  border-radius: 10rem;
  transition: background-position 1s ease-in-out;
}
.r_form_button:hover{
  background-position: -100%;
  cursor: pointer;
}
.r_form_button:active{
  background-color: #000000;
  box-shadow: none;
  cursor: pointer;
}
.r_Mercure{
  background-color:rgba(34, 34, 34, 0.6);
  color: white;
}
.r_Mercure .r_form_button {
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba(208, 208, 208, 0.8) 50%);
  color: black;
}
.r_Venus{
  background-color:rgba(202, 64, 0, 0.6);
  color: rgb(0, 0, 0);
}
.r_Venus .r_form_button {
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba( 42, 172, 255, 0.8) 50%);
  color: rgb(216, 216, 216);
}
.r_Lune{
  background-color:rgba(165, 165, 165, 0.7);
  color: rgb(0, 0, 0);
}
.r_Lune .r_form_button {
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba(31, 31, 31, 0.8) 50%);
  color: rgb(216, 216, 216);
}
.r_Mars{
  background-color:rgba(167, 0, 0, 0.6);
  color: white;
}
.r_Mars .r_form_button {
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba(255, 206, 70, 0.8) 50%);
  color: rgb(0, 0, 0);
}
.r_Jupiter{
  background-color:rgba(241, 202, 133, 0.6);
  color: rgb(0, 0, 0);
}
.r_Jupiter .r_form_button {
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba( 17, 62, 163, 0.8) 50%);
  color: rgb(216, 216, 216);
}
.r_Saturne{
  background-color:rgba(141, 120, 51, 0.6);
  color: rgb(0, 0, 0);
}
.r_Saturne .r_form_button {
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%,	rgba( 62, 78, 182, 0.8) 50%);
  color: rgb(216, 216, 216);
}
.r_Uranus{
  background-color:rgba(0, 143, 187, 0.6);
  color: rgb(0, 0, 0);
}
.r_Uranus .r_form_button {
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba( 255, 64, 69, 0.8) 50%);
  color: rgb(216, 216, 216);
}
.r_Neptune{
  background-color:rgba(0, 51, 192, 0.6);
  color: white;
}
.r_Neptune .r_form_button {
  background-image: linear-gradient(to right, rgba(83, 92, 104, 0.6) 50%, rgba( 255, 213, 64, 0.8) 50%);
  color: rgb(0, 0, 0);
}
.content_resultat .duo{
  margin: 0 0 0 25px;
}
.duo_table{
  display: flex;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 40px;
  max-width: 700px;
}
.table_result, .table_result tr, .table_result td{
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  margin: 20px 0 0 40px;
  max-width: 700px;
}
.modal{
  font-size: 17px;
  margin: 15px 0 20px 0;
  max-width: 700px;
}
.cent{
  align-self: center;
}
.date{
  border: 2px black solid;
  border-radius: 7px;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.719);
  color: #fff;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}
.popup .popuptext {
  font-size: 1.3vh;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup .show {
  visibility: visible;
}

/* Qui sommes nous */
.content_nous{
  width: 50%;
  padding: 2.5em 1em 1em 1em;
  padding-bottom: 100px;
  overflow: auto;
  background-color: rgba(34, 34, 34, 0.7);
  padding-top: 1em;
  padding-bottom: 16px;
  margin: 40px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content_nous_r{
  width: 50%;
  padding: 2.5em 1em 1em 1em;
  padding-bottom: 100px;
  overflow: auto;
  background-color: rgba(34, 34, 34, 0.7);
  padding-top: 1em;
  padding-bottom: 16px;
  margin: 10px 0 50px 0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nom{
  font-size: 1.5rem;
  font-family: 'Lexend Mega', sans serif;
  color: white;
}
.us_content{
  background-color: rgba(34, 34, 34, 0.726);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.descri{
  margin: 0 0 0 25px;
  font-size: 1rem;
  font-family: 'Lexend Mega', sans serif;
  color: white;
  display: flex;
  align-items: center;
  max-width: 550px;
}
.nous_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* transport */
.backg_transpo{
  width: 100%;
  margin: 0 auto 500px auto;
  background-color: rgba(34, 34, 34, 0.7); 
}
.big_content_transpo{
  width: 65%;
  margin: 0 auto;
  padding: 2.5em 1em 1em 1em;
  overflow: auto;
  padding-top: 1em;
  padding-bottom: 16px;
  text-align: center;
  font-family: 'Lexend Mega', sans-serif;
  font-size: 1.7vw;
}

.content_transpo.margin_around{
  margin: 15px 50px ;
  font-size: 1.2vw;
  align-items: center;
  /* border-radius: 15%; */
}

.transpo{
  display: flex;
  flex-direction: column;
}

.titre1{
  padding-bottom: 15px;
}

.transpo1{
  display: flex;
}

.transpo1 .content_transpo{
  width: 100%;
  align-self: center;
  border: 2px solid white;
}


/* Avis */
.list_avis{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content_form_avis{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ligne_moteur{
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
}
.ligne_moteur .moteur{
  margin: 0 15vh 0 15vh;
}
.moteur{
  display: flex;
  flex-direction: column;
  
}
.moteur img{
  height: 25px;
  width: 100px;
  z-index: 10;
  margin: 0 0 -10px 0;
}
.avis{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 15%;
  background-color: rgba(34, 34, 34, 0.8);
  width: 18rem;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-family:'Lexend Mega', sans-serif;
}

.avis .date{
  text-align: left;
  margin-bottom: 0;
  padding-left: 20px;
}

.av{
  background-color: rgba(34, 34, 34, 0.8);
  width: 100%;
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  max-width: 1000px;
  font-family:'Lexend Mega', sans-serif;
  border-radius: 12%;
  border: 1px solid white;
}

.av input, select{
  border: 2px black solid;
  border-radius: 7px;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.719);
  color: #fff;
}

.avis .signe{
  margin-top: 0;
  text-align: right;
  padding-right: 20px;
}

.ligne2_avis textarea{
  color: white;
  background-color: rgba(0, 0, 0, 0.719);
  margin: 15px;
  width: 25vw;
}

.ligne2_avis{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1138px) {
  .content { padding: 1em; }

  .titre{font-size: 35px;} 

  .transpo1{
    flex-direction: column;
    margin: 15px 0;
    padding: 10px;
  }

  .margin_around p{
    font-size: 1.8vw;
  }

  #tp2{
    flex-direction: column-reverse;
  }

  .content_nous, .content_nous_r{
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .bout_accueil{font-size: 2.5vw;}
  .titre{font-size: 3vw;}
  .ligne1, .ligne2{flex-wrap: wrap;}

  .list_avis{
    flex-direction: column;
    align-items: center;
  }

  .av .ligne1, .av .ligne2_avis{
    flex-direction: column;
  }

  .av .ligne2_avis #msg_avis{
    align-items: center;
  }

  .av .duo{
    align-items: center;
  }

  .avis{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 690px){
  .avis{
    width: 90%;
  }
  .ligne_moteur .moteur{
    margin: 0 15vw 0 15vw;
  }

}